<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kocja.rabbiter_reworked">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>


    <application
        android:name=".mainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/dokoncana_ikona_zajec_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dokoncana_ikona_zajec_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">




        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.photoprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".rabbitActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.addEntryActivity"/>
        <activity android:name=".activities.viewEntry"/>
        <activity android:name=".activities.viewEntryStats"/>
        <activity android:name=".activities.largerMainImage"
            android:theme="@style/Theme.Transparent"/>

        <service android:name=".services.AlertEventService"/>
        <service android:name=".services.askNotifAgain"/>
        <service android:name=".services.onBootService"/>
        <service android:name=".services.processEvents"/>
        <service android:name=".services.alertIfNotAlertedService"/>

        <receiver android:name=".broadcastrecievers.onBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>